Django
psycopg2-binary

django-cors-headers

# FastAPI
fastapi
pydantic[dotenv]
pydantic[email]
mangum

# async
reactivex
rx
tornado

# Logs
sentry-sdk

# cognito
python-dotenv

# sunat ws
zeep
requests
xmltodict
boltons


django-nose
djangorestframework
Faker
factory_boy


# tools
dependency-injector
flake8
black
isort
django-types

# extras
django_extensions
coverage
ipython
parameterized
pytest
python-multipart

# AWS - Cognito
boto3
boto3-stubs[cognito-idp]

# ASGI server used for FastAPI
uvicorn

# required plugin for nose
pinocchio

pytest-django
